* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  letter-spacing: 0.05em;
}

h1, h2, h3, p, input, li {
  font-weight: 300;
}

svg {
  width: 32px;
  height: 32px;
}

a, button {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 2px;
}

input:focus, button:focus {
  outline: none;
}

a:hover, button:hover {
  opacity: 1;
}

.main-container {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-body {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
}

/* Header */

.header-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 1em;
  padding: 1.5em;
  background-color: #f4f6f8;
}

.header-left {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  -webkit-align-items: baseline;
}

.header-title {
  font-size: 1.75em;
  margin: 0 0 0.1em 0;
}

.header-title > a {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.header-text {
  color: #424242;
  margin:0 0 0 1em;
  font-size: 0.9em;
}

.header-right {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.header-button-middle {
  font-size: 0.9em;
  margin-right: 1em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  text-decoration: none;
  background-color: #311b92;
}

.header-button-right {
  font-size: 0.9em;
  margin-right: 1em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff3d00;
}

/* Footer */

.footer-container {
  background-color: #e4e6e8;
  margin-top: 1em;
}

.footer-container > p {
  text-align: center;
  margin: 0;
  padding: 1em;
}

/* Account View */

.account-container {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.form-container {
  flex: 1;
  -webkit-flex: 1;
}

.form-input {
  color: inherit;
  width: 15em;
  font-size: 1em;
  padding: 0.4em 0.2em;
  outline: none;
}

.form-button {
  margin-left: 1em;
  font-size: 0.9em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  background-color: #02b875;
  border: none;
}

.delete-button {
  margin-left: 1em;
  font-size: 0.9em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  background-color: #b71c1c;
  border: none;
}

.search-container {
  width: 60em;
  display: flex;
  display: -webkit-flex;
}

.search-results {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.book-entry {
  flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  padding: 0 1em;
  text-align: center;
}

.book-detail {
  flex: 0 0 20em;
}

.book-detail > button {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  background-color: #02b875;
  border: none;
}

.book-image {
  margin-top: 1em;
  width: calc(48em / 5);
  border: 1px solid #cccccc;
}

/* Register View */

.register-container {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}


.register-form {
  width: 15em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.register-input {
  margin-bottom: 1em;
  flex: 1;
  -webkit-flex: 1;
  color: inherit;
  font-size: 1em;
  padding: 0.4em 0.2em;
  outline: none;
}

.register-submit {
  margin: 1em 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  background-color: #02b875;
  border: none;
}

.register-submit:hover {
  opacity: 1;
}

.error-messages {
  color: #ef5350;
}

.error-messages > p {
  text-align: center;
  margin: 0.5em 0;
}

.success-messages {
  color: #02b875;
}

/* Login View */

.login-container {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.login-form {
  width: 15em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.login-input {
  margin-bottom: 1em;
  flex: 1;
  -webkit-flex: 1;
  color: inherit;
  font-size: 1em;
  padding: 0.4em 0.2em;
  outline: none;
}

.login-submit {
  margin: 1em 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 0.6em 1.5em;
  color: #ffffff;
  background-color: #02b875;
  border: none;
}

/* Settings View */

.settings-container {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.user-info {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  list-style: none;
}

.user-datum  {
  width: 30em;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.user-datum > i {
  flex: 1;
  -webkit-flex: 1;
}

.user-datum > h3 {
  flex: 10;
  -webkit-flex: 10;
}

.user-info g {
  fill: #212121;
}
